*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*Typography*/
a {
    text-decoration: none;
    color: black;
    
   
}
/*Nav and Footer Layout*/
nav,
footer {
    display: flex;
    justify-content: space-between;
}
.right {
    margin-right: 14px;
    
}
.link {
    margin: 5px 0px 0px 25px;
}
nav {
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(233, 233, 233);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border-top: solid 1px rgb(218, 216, 216);
}
/*Search Layout*/

#image {
    display: block;
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 20px;
        
}

#searchbar {
    text-align: center;
    
}

#search {
    width: 87%;
    height: 34px;
    border-style: none;
}

#search-border {
    display: block;
    margin: 0 auto;
    border: solid 1px rgb(146, 144, 144);
    border-radius: 20px;
    width: 400px;
}

button {
    margin-top: 10px;
    padding: 8px 10px;
    border-style: none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    background-color: rgb(233, 233, 233);
}

/*Functionality*/
a:hover {
    text-decoration: underline;
} 

#search-border:hover {
    box-shadow: 0px 0px 2px 1px rgb(177, 173, 173), 0px 0px 1px 1px rgb(177, 173, 173) ;
    border-color: white;
}    

button:hover {
    border: solid 0.1em rgb(100, 100, 100);
    background-color: rgb(233, 233, 233);
}
